 pandas_market_calendars==1.6.1
pydotplus==2.0.2
matplotlib==3.3.2
scipy==1.5.2
linearmodels==4.23
mizani==0.7.1
seaborn==0.11.0
statsmodels==0.13.0.dev0+319.g77bb1d276
pandas==1.2.1
plotnine==0.7.1
pmdarima==1.8.0
patsy==0.5.1
ipython==7.23.1
pyreadr==0.4.1
scikit_learn==0.24.2
skranger==0.3.2
