pmdarima==1.8.0
arch==4.15
matplotlib==3.3.2
statsmodels==0.12.2
numpy==1.19.5
seaborn==0.11.0
linearmodels==4.23
scipy==1.5.2
mizani==0.7.1
patsy==0.5.1
plotnine==0.7.1
pandas==1.2.1
pydotplus==2.0.2
stargazer==0.0.5
pandas_market_calendars==1.6.1
ipython==7.22.0
pyreadr==0.4.1
scikit_learn==0.24.1
skranger==0.3.2
