numpy ==1.26.4
arch ==7.0.0
linearmodels ==6.0
patchworklib ==0.6.4
pandas-market-calendars ==4.4.1
pmdarima ==2.0.4
plotnine ==0.12.4
prophet ==1.1.5
pydotplus ==2.0.2
scikit-misc ==0.5.1
stargazer ==0.0.7
syntheticcontrolmethods ==1.1.17
ipykernel
jupyter