.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*/.DS_Store
*.Rproj
*/output/
*/temp/
*.csv
*.dta
*.rds
__pycache__/
.ipynb_checkpoints/
.ipynb_checkpoints
.csv
set-data-directory.R
set-data-directory.do
set-data-directory.R
