.Rproj.user
.Rhistory
.Rprofile
.RData
.Ruserdata
.Renviron
*/.DS_Store
*.Rproj
*/output/
*/temp/
*.csv
*.dta
*.rds
*.pkl
__pycache__/
.ipynb_checkpoints/
.ipynb_checkpoints
.virtual_documents/
set-data-directory.do
set-data-directory.R
renv/
.DS_Store
