[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arch = "==5.3.1"
black = "==22.8.0"
jupyter = "==1.0.0"
jupyter-contrib-nbextensions = "==0.5.0"
linearmodels = "==4.27"
matplotlib = "==3.5.1"
mizani = "==0.8.1"
numpy = "==1.23.3"
openpyxl = "==3.0.10"
pandas = "==1.5.0"
pandas-market-calendars = "==4.0"
plotnine = "==0.10.1"
pmdarima = "==2.0.1"
prophet = "==1.0"
pydotplus = "==2.0.2"
pystan = "==2.19.1.1"
regex = "==2022.9.13"
scikit-learn = "==1.1.2"
scikit-misc = "==0.1.4"
scipy = "==1.9.1"
shap = "==0.41.0"
stargazer = "==0.0.5"
statsmodels = "==0.13.2"
syntheticcontrolmethods = "==1.1.17"

[dev-packages]

[requires]
python_version = "3.8"
